.places__paragraph{
    margin: 0 auto;
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 29.34px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
  }

  .places__paragraph:last-of-type {
      margin: 0;
  }

  @media screen and (max-width: 1023px){
    .places__paragraph {
    font-size: 16px;
    line-height: 26.08px;
}
  }
  
  @media screen and (max-width: 767px){
    .places__paragraph {
    font-size: 16px;
    line-height: 26.08px;
}
  }