.places {
  margin-top: 68px;
  padding-top: 0;
}

@media screen and (max-width: 1023px){
  .places {
    margin-top: 64px;
  }
}

@media screen and (max-width: 767px){
    .places {
      margin-top: 46px;
      padding: 0;
    }
  }