.places__title {
    grid-area: title;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: start;
  }

  
  @media screen and (max-width: 767px){
    .places__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    margin-right: 16px;
}
  }