.intro__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    max-width: calc(100% - 294px);
}

@media screen and (max-width: 1279px){
    .intro__text {
      max-width: calc(100% - 238px);
    }
  }
  
  @media screen and (max-width: 1023px){
    .intro__text {
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 767px){
      .intro__text {
        max-width: 100%;
      }
    }